.product-card{
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    &__img{
        padding-top: 100%;
        position: relative;
        text-align: center;
        justify-content: center;
        overflow: hidden;
        img{
            position: absolute;
            inset: 0;
            height: 100%;
            margin: auto;
            transition: opacity .8s ease, transform 1.1s cubic-bezier(0.15, 0.72, 0.5, 1) 0s;

            &:nth-child(2){
                opacity: 0;
                transform: scale(0.8);
            }
         
        }
        .action{
            a{
                color: unset;
            }
           
            position: absolute;
            top: 50%;
            right: 30%;
            transform: translateX(-400px);   
            transition: transform 1s ease;
            font-size: 1rem;
            display: flex;
            &__item{
                background-color: azure;
                padding: 5px;
                margin-right: 5px;
            }
            &__item:hover{
                background-color: #ff324d;
                color: azure;
            }
            a ~ a{
                    margin-left: 10px;
            }
        }
        &:hover{
            img{
                &:nth-child(2){
                    opacity: 1;
                    transform: scale(1);
                }
                &:first-child{
                    opacity: 0;
                    transform: scale(0.8);
                }
            }
            .action{
                transform: translateX(-20%);
                transition: transform .5s ease;
            }
        }
    }
    &__name{
        font-weight: 600;
    }
    &__price{
        color: #ff324d;
    }
    .btn{
        height: 30px;
        font-size: 1rem;
    }
}